<div class="jumbotron jumbotron-fluid hero about-splash fill-view py-5">
	<div class="row d-flex align-items-start mx-0">
		<div class="px-5 offset-1 col-10 col-md-5 text-center text-lg-left bg-float my-5 my-md-0">
			<h1 class="display-4 user-select-none">Sorry, we couldn't find what you were looking for!</h1>
			<p class="user-select-none">Please click either of the links on the right to find new friends or places</p>
		</div>
        <div class="offset-1 col-10 offset-md-0 col-md-5 offset-lg-2 col-lg-3">
			<div class="card bg-highlight rounded shadow">
				<div class="card-header bg-card-float text-center">
					<h3 class="card-title user-select-none">Discover below!</h1>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item bg-highlight text-center"><a class ="text-dark" href="/businesses">Businesses</a></li>
						<li class="list-group-item bg-highlight text-center"><a class ="text-dark" href="/users/directory">Users</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
    
</div>