<div class="jumbotron jumbotron-fluid hero about-splash fill-view py-5">
	<div class="row d-flex align-items-start mx-0">
		<div class="px-5 offset-1 col-10 col-md-5 text-center text-lg-left bg-float my-5 my-md-0">
			<h1 class="display-4 user-select-none">Make&nbsp;Chew&#8209;on&#8209;It your&nbsp;Go&#8209;to</h1>
			<p class="user-select-none"><span style="font-family: 'Abril Fatface', cursive !important;">Chew&#8209;on&#8209;It</span> is what your friends are talking about. Find the hot place to be right here.</p>
		</div>
		<div class="offset-1 col-10 offset-md-0 col-md-5 offset-lg-2 col-lg-3">
			<div class="card bg-highlight rounded shadow">
				<div class="card-header bg-card-float text-center">
					<h3 class="card-title user-select-none">Created by The&nbsp;Chewers</h1>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item bg-highlight">Chris Le - Project Manager, Google API Expert, Frontend</li>
						<li class="list-group-item bg-highlight">Parker McKillop - Git Connoisseur, Backend</li>
						<li class="list-group-item bg-highlight">Ravindra Nagi - Backend Dev</li>
						<li class="list-group-item bg-highlight">Axel Kern - Frontend Dev</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>