{{>banner message="Restaurant Finder"}}
<div class="content content-border flex-fill d-flex align-items-start h-100 pt-3">
	{{#if user}}
	{{#if otherProfile}}
	{{> aside userProfileSer otherProfile=true}}
	{{else}}
	{{> aside user}}
	{{/if}}
	{{/if}}

	<div class="d-flex flex-row flex-wrap flex-fill col-12" id="restaurants">
		<!-- Main Restaurant-->
		<div class="card w-100 px-0 pb-3 d-flex flex-column rounded shadow" style="min-height: 500;">
			<div class="card-header mb-0" style="transform: rotate(0);">
				 <h3 id="restName" class="card-title">Nearby Restaurant</h4>
				 <div class="d-flex flex-row">
					<div class="flex-grow-1">
						<p id="restAddress" class="card-subtitle"></p>
						<a id="restWebsite" class="stretched-link" target="_blank"></a>
					</div>
					<div>
						<button class="btn btn-primary">Add Review</button>
					</div>
				</div>
			</div>
			<div id="businessPage" class="card-body h-100 p-0">
				<div id="map" class="w-100 mb-0" style="min-height:350px">[Location required]</div>
			</div>

			<!--Search card-->
			<h4 class="card-header border-top my-0">Restaurant Search</h4>
			<div class="card-body">
				<input id="searchTextField" class="my-lg-0 w-100" type="text" placeholder="Find a Restaurant" autocomplete="on" runat="server" />
			</div>
		</div>
	</div>
</div>
<div class="fill-view">

    <input type="hidden" id="city2" name="city2" />
    <input type="hidden" id="cityLat" name="cityLat" />
    <input type="hidden" id="cityLng" name="cityLng" />
 <!--   <div class="row w-100 mx-0 px-0">


<!-- Nearby Restaurants- ->
        <div class="col-12 col-md-5">

            <div id="places" ></div>
        </div>
<!-- Aside Profile- ->
    </div>-->
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVeiXPohR3WJKh94VpZEIbNr4wjAqPfoQ&libraries=places"></script>
<script src="/scr/business.js"></script>