<div class="jumbotron jumbotron-fluid hero">
	<div class="row">
		<div class="col-4 offset-2">
			<h1 class="display-4">Share Your World</h1>
			<p>Inspirational message.</p>
		</div>
		<div class="offset-0 col-5 offset-lg-2 col-xl-3">
			<div class="card">
				<div>
					<!-- Tabs Titles -->
					<h3>Login</h3>

					<!-- Login Form -->
					<form id="login">
					<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
					<input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
					<input type="submit" class="fadeIn fourth" value="Log In">
					</form>

					<!-- Remind Passowrd -->
					<div id="formFooter">
						<a class="underlineHover" href="#">Forgot Password?</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>