<div class="jumbotron jumbotron-fluid hero fill-view">
	<div class="row mx-0">
		<div class="col-10 col-md-5 offset-1 col-lg-7 text-center text-md-left">
			<h1 class="display-4 user-select-none">Share Your World</h1>
			<p class="user-select-none">Inspirational message.</p>
		</div>
		<div class="offset-1 col-10 offset-md-0 col-md-5 col-lg-3">
			<div class="card bg-highlight rounded">
				<div class="card-header bg-recessed">
					<h3>Login</h3>
				</div>
				<div class="card-body">
					<form id="login">
					<input type="text" id="loginUser" name="login" placeholder="login">
					<input type="password" id="loginPassword" name="login" placeholder="password">
					<input type="submit" id="loginSubmit" class="btn bg-shadow" value="Log In">
					</form>
				</div>
				<div class="card-footer text-center bg-recessed">
					<a class="bg-recessed" href="#">No account? Sign up here!</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/scr/login.js"></script>