<div class="jumbo-banner about-splash">
	<div class="content d-flex h-100">
		<div class="aside-column d-none d-md-block">
		</div>
		<div class="text-center d-flex flex-column justify-content-center align-items-center text-light flex-fill h-100">
			<div class="bg-float py-1 px-5">
			<h1 class="display-4">{{first_name}}'s Take</h2>
			</div>
		</div>
	</div>
</div>
<div class="content content-border d-flex align-items-start h-100 pt-3">
	{{> aside}}
	<div class="d-flex flex-wrap flex-fill" id="users">
		<h1>User's reviews go here.</h1>
	</div>
</div>