<div class="fill-view">
	<div class="row w-100 mx-0 px-0">
		<div class="col-12 col-md-8 col-lg-9">
			<h1>REVIEWS GO HERE</h1>
		</div>
		<div class="fill-view d-none d-md-block col-md-4 col-lg-3 pr-md-0">
			<div class="card fill-view rounded-0">
				<div class="card-header rounded-0 bg-recessed text-center">
					<div class="mx-auto d-block position-relative">
						<img src="/img/default_profile.jpg" class="profile">
						<span class="position-relative position-absolute fixed-bottom" style="left: 188px; bottom: 4px;">
							<a href="#" id="edit-profile"><img src="/img/icn/icon_edit.png"></a>
						</span>
					</div>
					<h2 class="card-title">{{first_name}} {{last_name}}</h2>
				</div>
				<div class="card-body bg-highlight">
					<div class="row d-flex flex-wrap">
						<div class="col-6 col-lg-4 ml-0 text-center">
							<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
							<p class="card-subtitle text-truncate">Example</p>
							<a class="stretch-link" href="/profile/1"></a>
						</div>
						{{#each friend}}
						<div class="col-6 col-lg-4 ml-0 text-center card-link">
							<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
							<p class="card-subtitle text-truncate">{{friend.first_name}}</p>
							<a class="stretch-link" href="/profile/{{friend.id}}"></a>
						</a>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>