<div class="fill-view">
	<div class="offset-1 py-3 vh-100 offset-1 col-10 col-sm-6 col-xl-4">
		<div class="card rounded" style="min-height: 80vh">
			<div class="card-header bg-recessed text-center">
				<div class="mx-auto d-block position-relative">
					<img src="/img/default_profile.jpg" class="profile">
					<span class="position-relative position-absolute fixed-bottom" style="left: 188px; bottom: 4px;">
						<a href="#" class=""><img src="/img/icn/icon_edit.png"></a>
					</span>
				</div>
				<h2 class="card-title">First_name Last_name</h2>
			</div>
			<div class="card-body bg-highlight">
				<div class="row">
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="#">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">Bobby</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>