:root {
	--highlight: #D4E7C0;
	--recessed: #4AAB5C;
	--shadow: #5C9971;
	--background: #68B0AB;
	--float: #00000077;
	--primary-text: #efefef;
	--secondary-text: #222;
}

.hero {
	background-image: url("/img/login-splash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: inherit;
	color: white;
	margin-bottom: 0px;
}
.about-splash {
	background-image: url("/img/splash-about.jpg");
}
.jumbo-banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #bbb;
}
.aside-column {
	width: 250px;
	position: relative;
	margin-top: 30px;
	height: calc(100vh - 355px);
}
.aside-test {
	margin-top: -128px;
}
.aside-img {
	box-shadow: 0 0 3px #000;
	border-radius: 50%;
	width: 248px;
}
.navbar-border {
	border-bottom: 2px solid var(--recessed);
}
.fill-view {
	min-height: calc(100vh - 59px);
	height: 100%;
}
.bg-highlight {
	background: var(--highlight);
	color: var(--secondary-text);
}
.bg-recessed {
	background: var(--recessed);
	color: var(--secondary-text);
}
.bg-shadow {
	background: var(--shadow);
	color: var(--primary-text);
}
.bg-background {
	background: #f3f3f3;

}
.bg-float {
	background: var(--float);
}
.text-error {
	color: #c00;
	font-size: 0.9em;
	font-style: oblique;
	font-weight: bolder;
}
.content {
	max-width: 990px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	min-height: 100%;
}
.profile {
	width: 250px;
}
.profile-thumb {
	width: 100%;
	border-radius: 50%;
}

#login input {
	width: 90%;
	margin: 4px 5%;
}