@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
	--highlight: #E4F7E9;
	--recessed: #4AAB5C;
	--shadow: #00000033;
	--background: #68B0AB;
	--aside: #B3F9BF;
	--float: #00000077;
	--card-float: #00550055;
	--primary-text: #efefef;
	--secondary-text: #222;
	min-height: 100%;
}
html, body {
	min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Abril Fatface', cursive !important;
	letter-spacing: 1px;
}

.hero {
	background-image: url("/img/login-splash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: inherit;
	color: white;
	margin-bottom: 0px;
}
.about-splash {
	background-image: url("/img/splash-about.jpg");
}
.jumbo-banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #bbb;
	z-index: -1000;
}
.aside-column {
	width: 280px;
	position: relative;
	margin-top: 30px;
	padding: 0 15px;
	min-height: calc(100vh - 355px) !important;
	height: 100% !important;
}
.aside-test {
	margin-top: -128px;
}
.aside-borders {
	border-left: 1px solid #68B0AB33;
	border-right: 1px solid #68B0AB33;
	box-shadow: -1px -2px 4px #66996688, 1px -2px 4px #66996688;
}
.aside-img {
	box-shadow: 0 0 3px #33333388, -3px -2px 5px #33333388, 3px -2px 5px #33333388;
	border-radius: 50%;
	width: 250px;
	left: -1px;
}
.navbar-border {
	border-bottom: 2px solid var(--float);
}
.fill-view {
	min-height: calc(100vh - 60px);
}
.bg-highlight {
	background: var(--highlight);
	color: var(--secondary-text);
}
.bg-recessed {
	background: var(--recessed);
	color: var(--secondary-text);
}
.bg-shadow {
	background: var(--shadow);
}
.bg-background {
	background: #f3f3f3;

}
.bg-float {
	background: var(--float);
}
.bg-card-float {
	background: var(--card-float);
	color: var(--primary-text);
}
.bg-aside {
	background: var(--aside);
}
.navbar-brand,
.nav-link {
	color: var(--primary-text) !important;
}
.text-error {
	color: #c00;
	font-size: 0.9em;
	font-style: oblique;
	font-weight: bolder;
}
.content {
	max-width: 1020px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	min-height: 100%;
}
.content-border {
	border-left: 1px solid #99999933;
	border-right: 1px solid #99999933;
	box-shadow: -1px 0 3px #dddddd22, 1px 0 3px #dddddd22;
	background: #dddddd22;
}
.profile {
	width: 250px;
}
.profile-thumb {
	width: 100%;
	border-radius: 50%;
}

#login input {
	width: 90%;
	margin: 4px 5%;
}

.display-3 {
	font-size: 3rem;
}
@media (min-width: 768px) {
	.display-3 {
		font-size: 3.5rem;
	}
}
@media (min-width: 992px) {
	.display-3 {
		font-size: 4.5rem;
	}
}